<html>

<head>
  <title>File Upload</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">
</head>

<body>
  <h1>File Upload</h1>
  <form action="{{ url_for('upload_files') }}" class="dropzone">
  </form>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>
  <form method="POST" action="" enctype="multipart/form-data">
    <p><input type="file" name="file"></p>
    <p><input type="submit" value="Submit"></p>
  </form>
</body>

</html>

<!--  
                <option value='Anantasana'>Anantasana</option>
								<option value='Shaktipat_Rajakapotasana'>Shaktipat_Rajakapotasana</option>
								<option value='Bhujangasana'>Bhujangasana</option>
								<option value='Garbhasana'>Garbhasana</option>
								<option value='Uttanasana'>Uttanasana</option>
								<option value='Bhujapidasana'>Bhujapidasana</option>
								<option value='Chakrasana'>Chakrasana</option>
								<option value='Malasana'>Malasana</option>
								<option value='Karnapidasana'>Karnapidasana</option>
								<option value='Simhasana'>Simhasana</option>
								<option value='Halasana'>Halasana</option>
								<option value='Vajrasana'>Vajrasana</option>
								<option value='Dandasana'>Dandasana</option>
								<option value='Astavakrasana'>Astavakrasana</option>
								<option value='Sidhasana'>Sidhasana</option>
								<option value='Utkatasana'>Utkatasana</option>
								<option value='Bharadvajasana'>Bharadvajasana</option>
								<option value='Utthita_Parshvakonasana'>Utthita_Parshvakonasana</option>
								<option value='Muka_Shvanasana'>Muka_Shvanasana</option>
								<option value='Shaktipat_Kukkutasana'>Shaktipat_Kukkutasana</option>
								<option value='Ardha_Maerudhandaasana'>Ardha_Maerudhandaasana</option>
								<option value='Akarna_Dhanurasana'>Akarna_Dhanurasana</option>
								<option value='Viparita_Karani'>Viparita_Karani</option>
								<option value='Bakasana'>Bakasana</option>
								<option value='Kurmasana'>Kurmasana</option>
								<option value='Viparita_Dandasana'>Viparita_Dandasana</option>
								<option value='Parshvottanasana'>Parshvottanasana</option>
								<option value='Paschimotanasana'>Paschimotanasana</option>
								<option value='Natarajasana'>Natarajasana</option>
								<option value='Shirshasana'>Shirshasana</option>
								<option value='Hanumanasana'>Hanumanasana</option>
								<option value='Samakonasana'>Samakonasana</option>
								<option value='Tuladandasana'>Tuladandasana</option>
								<option value='Ardha_Chandrasana'>Ardha_Chandrasana</option>
								<option value='Sarvangasana'>Sarvangasana</option>
								<option value='Bhekasana'>Bhekasana</option>
								<option value='Upward_Facing_Dog'>Upward_Facing_Dog</option>
								<option value='Vriksasana'>Vriksasana</option>
								<option value='Virasana'>Virasana</option>
								<option value='Balasana'>Balasana</option>
								<option value='Paripurna_Navasana'>Paripurna_Navasana</option>
								<option value='Sukhasana'>Sukhasana</option>
								<option value='Tadasana'>Tadasana</option>
								<option value='Janusirsasana'>Janusirsasana</option>
								<option value='Salabhasana'>Salabhasana</option>
								<option value='Marichyasana'>Marichyasana</option>
								<option value='Peacock_pose'>Peacock_pose</option>
								<option value='Pasasana'>Pasasana</option>
								<option value='Shavasana'>Shavasana</option>
								<option value='Matsyasana'>Matsyasana</option>
								<option value='Pranamasana'>Pranamasana</option>
								<option value='Ardha_Matsyendrasana'>Ardha_Matsyendrasana</option>
								<option value='Virabhadrasana'>Virabhadrasana</option>
								<option value='Kapotasana'>Kapotasana</option>
								<option value='Ardha_Urdhwa_Bhujangasana'>Ardha_Urdhwa_Bhujangasana</option>
								<option value='Trikonasana'>Trikonasana</option>
								<option value='Garudasana'>Garudasana</option>
								<option value='Utthita_Hasta_Padangusthasana'>Utthita_Hasta_Padangusthasana</option>
								<option value='Rocket'>Rocket</option>
								<option value='Gomukhasana'>Gomukhasana</option>
								<option value='Bitilasana'>Bitilasana</option>
								<option value='Ardha_Vrishkasana'>Ardha_Vrishkasana</option>
								<option value='Chaturanga_Dandasana'>Chaturanga_Dandasana</option>
								<option value='Ashtanga_Namaskara'>Ashtanga_Namaskara</option>
								<option value='Dhanurasana'>Dhanurasana</option>
                <option value='Samanasana'>Samanasana</option>
                
                -->